body {
    background-image: url(../images/full-logo-no-padding-black.svg) !important;
    background-size: 180px !important;
    background-repeat: no-repeat !important;
    background-position: bottom 20px left 20px !important;
}